# Python
__pycache__/
*.py[cod]

# Conda / virtual environments
.venv/
venv/
env/

# Environment & secrets
.env
*.env

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary files
*.tmp

# ML model files
*.pkl
*.pickle
*.joblib
*.h5
*.pt
*.pth

# Project data
06_wqu_applied_data_science_lab/01_Mexican Real Estate Market/data/